.otpContainer {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  padding: 32px;
  gap: 24px;
  width: 354px;
  height: 360px;
  background: var(--white)
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}

.otpBody {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 318px;
}

.otpPrompt {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.otpInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
} 

.timer {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  height: 24px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  width: 318px;
  height: 40px;
}
