.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: fit-content;
  height: 32px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  cursor: pointer;
  color: #6F7269;
}

.icon{
  color:#6F7269;
}

