.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0px;
  gap: 24px;
  position: relative;
  width: 568px;
  height: 336px;
  background: #ffffff;
  box-shadow: 1px 5px 14px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.closeIcon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 485px;
  height: 16px;
  color: #979992;
  cursor: pointer;
}

.close {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 16px;
  height: 16px;
}

.formdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 24px;
  gap: 40px;
  width: 341px;
  height: fit-content;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 341px;
  height: 32px;
}

.query {
  display: flex;
  width: 342px;
  height: 26px;
  justify-content: center;
  align-content: center;
  color: #6f7269;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6f7269;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 40px;
  width: 215px;
  height: 42px;
}

.Yesbutton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 32px;
  font-weight: 400px;
  gap: 8px;
  width: 85px;
  height: 42px;
  border: 1px solid #f30039;
  border-radius: 4px;
  outline: none;
}

/* .bttnStyle:hover {
    background-color: #F30039; 
  }
  
  
  .bttnStyle:active {
    background-color: #F30039; 
  } */

.Nobutton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 32px;
  gap: 8px;
  width: 85px;
  height: 42px;
  border: 1px solid #f30039;
  border-radius: 4px;
  outline: none;
  font-weight: 500px;
}
