.container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 24px;
  width: 541px;
  height: max-content;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 12px;
}
.button {
  align-self: center;
  cursor: progress;
}
.search{
  display: none;
  width: 250px;

}
.filterSelected{
  display: block;
  width: 250px;
  margin-bottom: -25px;
  margin-top: -15px;
}

@media (max-width: 640px) {
  .container {
    width: 550px;
  }
}
