.otpContainer {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  padding: 32px;
  gap: 32px;
  width: 354px;
  height: 450px;
  background: #ffffff;
  cursor: pointer;
} 

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  height: 40px;
}

.otpBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 131px;
}

.otpPrompt {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  gap: 8px;
}

.otpInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  height: 56px;
  padding-top: 8px;
}

.timer {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  height: 24px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  width: 318px;
  height: 40px;
}
