.Container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 24px 0px;
  gap: 32px;
  width: 100%;
  height: auto;
  background: #ffffff;
  border-radius: 8px;
}


.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 285px;
  width: 100%;
  height: auto;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: fit-content;
  height: 32px;
}



.checkboxdiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 100%;
  height: auto;
}

.topdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 8px;
  gap: 54px;
  width: 100%;
  height: auto;
}

.lowerdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 8px;
  gap: 54px;
  width: 100%;
  height: auto;
}


.cardName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  font-size: 16px;
  gap: 24px;
  width: fit-content;
  height: auto;
  color: #1a2600;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}


.account {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-end;
  padding: 0px;
  gap: 16px;
  width: fit-content;
  height: auto;
}

.loan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 334px;
  height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 334px;
  height: auto;
}

