.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 32px 0px 8px 0px;
gap: 24px;
width: 100%;
height: auto;
background: #FFFFFF;
}
.body{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 0px 24px;
gap: 40px;
}
.titles{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;
}
.buttons{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 40px;
}
.yesButton{
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 32px;
width: 90px;
height: 42px;
background: #F30039;
border-radius: 4px;
color: white;
}
.noButton{
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 32px;
gap: 8px;
width: 85px;
height: 42px;
border: 1px solid #F30039;
border-radius: 4px;
color: #F30039;
}


