.container{
  display: flex;
  width: 100%;
  flex-direction: column;
}


.icons svg {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 4px;
  gap: 10px;
  width: 32px;
  height: 28px;
  border: 0.5px solid #979992;
  border-radius: 4px;
  color: #979992;
}

.icons {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.activediv {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px 16px;
  gap: 15px;
  width: 102px;
  height: 32px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  color: #6F7269;
}

.selectdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: fit-content;
  height: 24px;
  border: none;
  color: #6F7269;
}

.createdOn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 81px;
  height: 44px;
  flex: none;
}

.atomsdiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: fit-content;
  height: 32px;
}

.UserName {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: fit-content;
  height: 44px;
  font-family: "Roboto";
   font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #6f7269;
}

.headerdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px 0px 16px 16px;
  gap: 285px;
  width: 100%;
  height: 80px;
  align-self: stretch;
  justify-content: space-between;
}

.textdiv {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #151e00;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: fit-content;
  height: 44px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6f7269;
}

.dateStyles{
  width: 81px;
  height: fit-content;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6F7269;
   }

.timestyles{
  width: 81px;
  height: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #6F7269;
   }

   .spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }

