.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 100%;
  height: fit-content;
}
.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;
  width: 100%;
  height: fit-content;
  background: #ffffff;
  border-radius: 16px;
}
.cardoverview{
  width: 50%;
}
.summary{
  width: 50%;
}

.accountsTable{
  width: 100%;
}

@media (max-width: 768px) {
  .headerContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    height: fit-content;
    padding: 8px;
  }
  .container {
    width: 100px;
  }
}
