.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 32px;
    width: 504px;
    height: auto; /* Adjust to auto height */
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 100%;
    height: auto; /* Adjust to auto height */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .title {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 100%;
    height: auto; /* Adjust to auto height */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  
  .subTitle {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 100%;
    height: auto; /* Adjust to auto height */
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 100%;
    height: 458px; /* Adjust to auto height */
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    padding: 0px 8px;
    gap: 56px;
    width: 100%;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .checkBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 181px;
    height: 176px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .checkTitle {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
    color: var(--Text-Text-Secondary);
  }
  
  .checkCont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
  }
  