.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 0px;
    width: 100%;
    gap: 24px;
    height: auto;
    border-bottom: 1px solid #e6e6e6;
  }
  
  .buttonsContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
    width: 100%;
    height: auto;
    padding-left: 24px;
  }
  .bodyContent {
    width: 100%;
  }
  
  .container{
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  