.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  position: absolute;
  width: 398px;
  height: 410px;
  left: 45vw;
  top: 20vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 16px;
  width: 100%;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 112px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.title {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  height: 56px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.titleDesc {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 318px;
  height: 48px;
  flex: none;
  order: 1;
  flex-grow: 0;
  color: var(--Text-Text-Description-01);
}

.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  padding: 0px;
  gap: 16px;
  width: 100%;
  height: 72px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.input {
  box-sizing: border-box;
  display: flex;
  padding: 0px 8px;
  gap: 210px;
  width: 100%;
  height: 40px;
  opacity: 0.8;
  border: 1px solid #c9c9cc;
  border-radius: 4px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 100%;
  height: 40px;
  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}
