.container {
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 8px 16px;
  gap: 8px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  color: #6f7269;
  width: fit-content;
  height:auto;
  cursor: pointer;
}
