.container {
  display: flex;
  flex: 1;
  width: 224px;
  height: 168px;
  border: 1px solid var(--neutral-grey-900);
  border-radius: 8px;
  padding: 24px 40px 24px 24px;
  gap: 8px;
  background-color: #fff;
}
.container:hover {
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bodyContainer {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  width: 124px;
}
