.container {
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  width: 99%;
  gap: 16px;
  height: auto;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 12px;
}
.search{
  display: none;
  width: 250px;
  margin-bottom: -20px;
  margin-top: -10px;

}
.filterSelected{
  display: block;
  width: 250px;
  margin-bottom: -20px;
  margin-top: -10px;
}
.button {
  align-self: center;
  cursor: pointer;
}

@media (max-width: 640px) {
  .container {
    width: 550px;
  }
}
