.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 32px 0px;
gap: 24px;
position: relative;
width: 100%;
height: 336px;
background: #FFFFFF;
border-radius: 8px;
}

.formdiv{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 0px 24px;
gap: 40px;
width: 341px;
height: 172px;
}
.textdiv{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 8px;
width: 341px;
height: 66px;
}
.titlediv{
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 10px;
width: 341px;
height: 32px;
color: #151E00;
}

.confirmquerry{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;
width: 341px;
height: 26px;
color: #6F7269;
}
.radiogroupdiv{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 40px;
width: 274px;
height: 42px;
}
.canceldiv{
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 32px;
gap: 8px;
width: 113px;
height: 42px;
border: 1px solid #C9C9CC;
border-radius: 4px;
}

.confirmdiv{
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 32px;
gap: 8px;
width: 121px;
height: 42px;
background: #84BD00;
border-radius: 4px;
color: #FFFFFF;
}


.radiogroupdiv.ant-btn:hover {
    background-color: transparent ;
    border-color: inherit; 
}
