.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 544px;
  height: 440px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 552px;
  height: 32px;
  justify-content: center;
}

.logCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 552px;
  height: 376px;
}

.submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 32px;
  gap: 8px;
  width: 114px;
  height: 40px;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 

  width: 647px;
  height: 460px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px 32px 24px 32px;
  gap: 16px;
  border-radius: 8px 0px 0px 0px;
  border: 0.5px solid;
  z-index: 1000;
  background: white; /* Ensure the background is visible */
}

.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 583px;
  height: 354px;
}

.formBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 583px;
  height: 274px;
}

.formHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  height: 72px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  height: 72px;
}

.inputField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  height: 72px;
}

.input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: 100%;
  height: 40px;
  background: var(--Background-Background-Primary);
  border: 0.5px solid var(--border-border-secondary);
  border-radius: 4px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  width: 184px;
  height: 40px;
  border-radius: 4px;
}

.searchBtn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;  
}
