.container {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 24px;
  width: 100%;
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0px 16px 16px;
  gap: 285px;
  width: 100%;
  height: auto;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 16px;
  margin: 0 auto;
  width: 542px;
  height: 32px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
