.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 8px;
  gap: 8px;
  width: 28px;
  height: 28px;
  border: 0.5px solid #979992;
  border-radius: 4px;
}

.rowStyles {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: fit-content;
  height: auto;
}

.icons {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 8px;
  gap: 10px;
  width: 32px;
  height: 28px;
  border: 0.5px solid #979992;
  border-radius: 4px;
}

.menu {
  color: #6f7269;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  width: auto;
  height: auto;
  border-radius: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px 0px;
  gap: 24px;
  width: 100%;
  height: auto;
  background: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4px;
  gap: auto;
  width: 100%;
  height: auto;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  align-self: flex-end;
  gap: 16px;
  width: 542px;
  height: 32px;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: relative;
  width: 100%;
  left: 10vw;
  top: 4vh;
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
  }

  .buttons {
    justify-content: center;
    padding: 0px;
    gap: 4px;
    margin: 0 auto;
    width: 100%;
  }

  .buttons > * {
    flex: 1 1 auto;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .header {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
  }

  .buttons {
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    margin: auto;
    width: 100%;
  }

  .buttons > * {
    flex: 1 1 100%;
  }
}