.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 8px;
  gap: 8px;
  width: 28px;
  height: 28px;
  border: 0.5px solid #979992;
  border-radius: 4px;
}

.rowStyles {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: fit-content;
  height: auto;
}

.dropDown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1px 8px;
  width: fit-content;
  height: auto;
  position: relative;
  left: auto;
  background: #FFFFFF;
  border-radius: 4px;
}

.dropDownTitle {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width:100%;
  height:auto;
  background: #FFFFFF;
  border-bottom: 1px solid #E6E6E6;
  border-radius: 4px 4px 0px 0px;
}

.dropDownContent{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 4px;
width: 100%;
height: auto;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px 0px;
  gap: 24px;
  width: 100%;
  height: auto;
  background: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4px;
  gap: auto;
  width: 100%;
  height: auto;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  align-self: flex-end;
  gap: 16px;
  width: 542px;
  height: 32px;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: relative;
  width: 100%;
  left: 10vw;
  top: 4vh;
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
  }

  .buttons {
    justify-content: center;
    padding: 0px;
    gap: 4px;
    margin: 0 auto;
    width: 100%;
  }

  .buttons > * {
    flex: 1 1 auto;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .header {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
  }

  .buttons {
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    margin: auto;
    width: 100%;
  }

  .buttons > * {
    flex: 1 1 100%;
  }
}
