.continer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px;
  gap: 34px;
  position: absolute;
  width: 1041px;
  height: 766px;
  left: 339px;
  top: 147px;
}
