.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  gap: 8px;
  width: 480px;
  height: 100px;
  border-radius: 8px;
  background: var(--Default-White, #fff);
  border-bottom: 1px solid;
}

.icon {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 21px;
  background: var(--Neutral-grey-300, #ececed);
}

.bodyDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
}

.rcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  flex: 1 0 0;
}
