.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 32px 32px;
  gap: 24px;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  height: auto;
}

.haed {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  width: 100%;
  height: auto;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 0px 16px 26px;
  gap: 16px;
  width: 100%;
  height: auto;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 100%;
  height: 40px;
  color: #1a2600;
  font-size: 20px;
}

.titleDescription {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;
  width: 100%;
  height: 80px;
  color: #6f7269;
  font-size: 20px;
}

.inviteBy {
  width: 100%;
  height: 20px;
}

.inputStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px 0px 12px;
  gap: 62px;
  width: 635px;
  height: 40px;
  border: 0.8px solid #979992;
  border-radius: 4px;
}

.inputdiv {
  width: 176px;
  height: 20px;
  outline: none;
}

.adduserButton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 0px 24px;
  gap: 6px;
  width: fit-content;
  height: 40px;
  border-left: 0.8px solid #979992;
}

.inputWrapper {
  display: flex;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  overflow: hidden;
  border: 0.8px solid #979992;
}

.antdtable {
  width: 100%;
  font-size: 16px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 24px 0px;
  gap: 16px;
  width: 100%;
  height: 90px;
}

.canceButton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 32px;
  gap: 8px;
  width: 113px;
  height: 42px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  color: #6f7269;
}

.inviteButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 32px;
  gap: 8px;
  width: 140px;
  height: 42px;
  background: #84bd00;
  border-radius: 4px;
  color: #ffffff;
}
