.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 96px 96px;
  gap: 48px;
  position: absolute;
  width: 736px;
  height: 600px;
  left:592px;
  top: 72px;
  background: var(--white);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 552px;
  height: 536px;
}

.stepperCard {
  display: flex;
  align-items: center;
  padding: 16px 0px;
  width: 551px;
  height: 57px;
}

.stepperContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;

}
