.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 8px;
    gap: 8px;
    width: 172px;
    height: 68px;
    background: #FFFFFF;
    border-bottom: 1px solid #17D05B;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}
.icon{
    background: #E0FFEB;
    padding: 8px;
    border-radius: 21px;
}