.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 8px;
  gap: 8px;
  width: 172px;
  height: 68px;
  background: #ffffff;
  border-bottom: 1px solid;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  cursor: pointer;
}
.icon {
  padding: 8px;
  border-radius: 21px;
}
