.modalWrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 24px;
  width: 100%;
  bottom: 10%;
  max-width: 656px;
  height: 480px;
  position: fixed;
  /* bottom: 56px;
  left: 40px; */
  top: 100px;
  left: 460px;
  background: var(--white);
  border: 0.5px solid var(--neutral-grey-900);
  box-shadow: 1px 5px 14px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.icon {
  position: absolute;
  right: 24px;
  top: 24px;
  color: var(--text-text-description-01);
  cursor: pointer;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 4px;
  width: 583px;
  height: 200px;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  gap: 8px;
  max-width: 583px;
  height: 72px;
}

.modal-close {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  color: #333;
}
