.container {
  display: flex;
  padding: 16px 0px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid var(--Border-Border-Primary, #e6e6e6);
  width: 460px;
}

.description {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 16px;
}
.icon {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 32px;
}

.custname {
  color: var(--Text-Text-Description-01, #6f7269);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.arrowAmount {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.amount {
  color: var(--Text-Text-Secondary, #151e00);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.arrow {
  display: flex;
  width: 23.41px;
  height: 28px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
}
