.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 24px 8px;

  position: absolute;
  width: 497px;
  height: 323px;
  left: 66px;
  top: 155px;
  cursor: pointer;
  background: #FFFFFF;
  border-radius: 12px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 449px;
  height: 240px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  gap: 8px;
  height: 28px;
  border: 1px solid #e6e6e6;
  border-radius: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  cursor: pointer;
}

.buttondiv {
  align-self: center;
}
