.sidebar {
  display: block;
}

.sidebar.visible {
  display: block;
  transform: translateX(0);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 999;
}

.overlay.visible {
  display: block;
}

@media screen and (max-width: 640px) {
  .sidebar {
    width: 80%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    z-index: 1000;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
  }
}
