.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
  width: 320px;
  height: 288px;
  left: 688px;
  top: 176px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  width: 320px;
  height: 112px;
}

.title {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 320px;
  height: 40px;
}

.titleDesc {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 320px;
  height: 48px;
}

.email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 318px;
  height: 136px;
}

.emailFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 318px;
  height: 72px;
}

.input {
  display: flex;
  align-items: center;
  padding: 0px 8px;
  gap: 8px;
  width: 318px;
  height: 40px;
  border: 0.5px solid #979992;
  border-radius: 4px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 318px;
  height: 40px;
}

.searchBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 24px;
  width: 183px;
  height: 40px;
  opacity: 0.8;
  border-radius: 4px;
}

.linkWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  position: absolute;
  width: 122px;
  height: 24px;
  left: 1246px;
  top: 600px;
}

.icon {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.linkContainer {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 88px;
  height: 24px;
}

.link {
  width: 88px;
  height: 24px;
  color: var(--Text-Text-Secondary);
}
