.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
  position: absolute;
  width: 398px;
  height: 410px;
  left: 50vw;
  top: 20vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 32px;
  width: 100%;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  height: 112px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.title {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  height: 56px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.titleDesc {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 318px;
  height: 48px;
  flex: none;
  order: 1;
  flex-grow: 0;
  color: var(--Text-Text-Description-01);
}

.radioForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 100%;
  height: 58px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.radioDesc {
  width: 100%;
  height: 26px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.radio {
  display: flex;
  align-items: flex-start;
  gap: 56px;
  width: 100%;
  height: 24px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  gap: 40px;
  width: 100%;
  height: 72px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.input {
  box-sizing: border-box;
  display: flex;
  padding: 0px 8px;
  gap: 210px;
  width: 100%;
  height: 40px;
  opacity: 0.8;
  border: 1px solid #c9c9cc;
  border-radius: 4px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 100%;
  height: 40px;
  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}

.backBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: black;
  gap: 8px;
  width: 69px;
  height: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.searchBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 265px;
  height: 40px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}

.linkWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  width: 122px;
  height: 24px;
  left: 1500px;
  top: 720px;
}

.icon {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.linkContainer {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 88px;
  height: 24px;
}

.link {
  width: 88px;
  height: 24px;
  color: var(--Text-Text-Secondary);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 70px;
  gap: 32px;
  width: 458px;
  height: 400px;
  background: none;
  cursor: pointer;
  position: fixed;
  left: 45vw;
  top: 20vh;
}

.otpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  gap: 24px;
  width: 354px;
  height: 360px;
  background: #ffffff;
  cursor: pointer;
}

.otpTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.otpBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
}

.otpPrompt {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.otpInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
}

.timer {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  height: 24px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  width: 318px;
  height: 40px;
}
