.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 0px 16px;
    gap: 32px;
    width: 761px;
    height: 192px;
    background: #FFFFFF;
    border-radius: 8px;
    }
      
      .title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0px;
      width: 761px;
      height: 56px;
  
      }
      
      .titleicon {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 16px;
      width: fit-content;
      height: 56px;
      }
      
      .icondiv {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 8px;
      gap: 10px;
      width: 32px;
      height: 32px;
      background: #EDF2E1;
      border-radius: 33px;
      
      }
      
      .icon{
      width: 16px;
      height: 16px;
      background: #FFFFFF;
      border-radius: 6px;
      }
      
      .titledescription {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0px;
      width: fit-content;
      height: 56px;
      }
      
      .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 10px;
      width: auto;
      height: 32px;
      color: #151E00;
      }
      
      .description {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 10px;
      width: 128px;
      height: 24px;
      color: #6F7269;
      }
      
      .status {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 10px;
      width: 183px;
      height: 24px;
      color: #6F7269;
      }
      
      .transactionsDiv {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0px;
      width: 761px;
      }
      
      .avilableBal {
    box-sizing: border-box;
      display: flex;
      
      justify-content: space-between;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      width: fit-content;
      height: 64px;
      border-right: 1px solid #F3F5EE;
      }
      
      .avBaltitle {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;
width: 152px;
height: 24px;
color: #6F7269;

      }
      
      .infoIcon {
        width: 16px;
        height: 16px;
        color: #979992;
        }
      
      
        .bal{
display: flex;
flex-direction: row;
align-items: flex-end;
padding: 0px;
gap: 10px;
width: 261px;
height: 32px;
font-size: 24px;
        }
        
      
      .workingBal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px;
        width: 136px;
        height: 64px;
        font-size: 20px;
      }
      
      .workbaltitle {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 10px;
        width: 189px;
        height: 24px;
        align-self: stretch;
        color: #6F7269;
      }
      
      .workbalamount{
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      padding: 0px;
      font-size: 20px;
      gap: 4px;
      width: 189px;
      height: 32px;
      color: #151E00;
      }
      
      
      .termDiv {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0px;
      width: 136px;
      height: 64px;
      font-size: 20px;
      }
      
      .termTitle {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 10px;
        width: fit-content;
        height: 24px;
        flex: none;
        color: #6F7269;
      }
      
      .termname{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      font-size: 20px;
      gap: 4px;
      width: 169px;
      height: 32px;
      color: #151E00;
      }
      
     
      