.search-bar-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 8px 0px 8px 24px;
  gap: 16px;
  width: 168px;
  height: 40px;
  border: 1px solid var(--tint-colors-tint-200);
  border-radius: 4px;
}

.search-input {
  border: none;
  outline: none;
  width: 100%;
  color: var(--Text-Text-Secondary);
}
