.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0px 0px 0px;
  gap: 24px;
  width: 100%;
  height: auto;
  background: #ffffff;
  border-radius: 8px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  height: auto;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px;
  gap: 5px;
  width: 100%;
  height: auto;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 40px;
  width: auto;
  height: auto;
}
.cancelbutton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 32px;
  gap: 8px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  color: #6f7269;
}
.trybutton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 32px;
  gap: 8px;
  width: 100%;
  height: auto;
  background: #84bd00;
  border-radius: 4px;
  color: #ffffff;
}
.text {
  color: #6f7269;
}
