.tableHeader{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 24px;
width: 100%;
height: 501px;
margin-top: 0px;
  }
  
  
  .iconsdiv {
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: #6F7269;
padding: 10px 8px;
gap: 10px;
width: 32px;
height: 28px;
border: 0.5px solid #979992;
border-radius: 4px;
  }
  
  
  .date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: fit-content;
    height: fit-content;
    margin-bottom: 9px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #6f7269;
  }
  
  .status {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 16px;
    gap: 15px;
    width: 102px;
    height: 32px;
    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #6f7269;
  }
  
  .ActivityName {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: fit-content;
    height: 44px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #6f7269;
  }
  

  .atomsdiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 100%;
    height: 32px;
  }

  .headerdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 32px 0px 16px 16px;
    gap: 285px;
    width: 100%;
    height: 80px;
    align-self: stretch;
    justify-content: space-between;
  }
  
  .textdiv {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 32px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #151e00;
  }

  .settingsButton{
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;
color: #6F7269;
width: 71px;
height: 32px;
border: 1px solid #E6E6E6;
border-radius: 4px;
  }

  .settingsButtonClicked {
    background: #003A49;
    color: #FFFFFF;
  }


  .currency{
width: 81px;
height: 24px;
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 16px;
color: #6F7269;
 }

 .account{
width: 81px;
margin-top: 12px;
height: fit-content;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #6F7269;
 } 


 .eyeIconDiv{
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px 8px;
gap: 10px;
width: 32px;
height: 28px;
color: #6F7269;
border: 0.5px solid #979992;
border-radius: 4px;
 }