.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  gap: 8px;
  max-width: 583px;
  height: 72px;
}

.formBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 583px;
  height: 160px;
  cursor: pointer;
}

.inputField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 583px;
}

.input {
  padding: 8px 16px;
  gap: 8px;
  width: 583px;
  height: 40px;
  border: 0.5px solid #979992;
  border-radius: 4px;
}

.submitButton {
  display: flex;
  align-items: center;
  padding: 8px 32px;
  gap: 8px;
  width: 112px;
  height: 40px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
