.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  width: auto;
  align-items: flex-start;
  cursor: pointer;
}

@media screen and (min-width: 360px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
