.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 36px;
  gap: 24px;
  width: 100%;
  height: fit-content;
}
.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;
  width: 100%;
  height: fit-content;
  background: #ffffff;
  border-radius: 16px;
}
.wrapper{
 padding: 0px;
 width: 100%;
}
.cardoverview{
  width: 50%;
}
.summary{
  width: 50%;
}

.accountsTable{
  width: 100%;
}

@media (max-width: 640px) {
  .container{
    padding: 24px 0px;
    width: 100%;
  }
  .wrapper{
    padding: 8px;
  }
  .headerContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    height: fit-content;
    padding: 8px;
  }
  .cardoverview{
    display: none;
  }
  .summary{
    width: 100%;
    padding:4px;
  }
  
}
