.container {
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  gap: 16px;
  width: 1010px;
  height: auto;
  background: #ffffff;
}
.body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 8px 0px;
  gap: 24px;
  width: 962px;
  height: auto;
  background: #ffffff;
  border-radius: 12px;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0px 24px;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 4px;
  width: 146px;
  height: 32px;
  background: #ffffff;
  border-radius: 4px;
}


@media (max-width:768px){
  .header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .container{
    width: 510px;
  }
}