.cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  height: fit-content;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 24px;
  width: 100%;
  height: fit-content;
}
.transaction{
  width: 55%;
}
.cashflow{
  width: 45%;
}

.balances{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px 0px;
padding: 24px;
width: 100%;
height: auto;
}

@media (max-width: 640px) {
  .cards {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .cashflow {
    width: 100%;
  }
  .transaction{
    width: 100%;
  }
  /* Allows scrolling of the tabs on the X-axis */
  .balances {
    overflow-x: auto;
    gap:8px;
  }
  /* removes the scrollbar on the axis */
  .balances::-webkit-scrollbar{
    width: 0px;
  }
}
