.container {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 16px;
gap: 54px;
width: 100%;
height: 160px;

}

.descriptDiv{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;
width: 517px;
height: 152px;
}

.active {
  background-color: #e6e6e6;
  align-self: flex-end;
}

.upperdiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: flex-start;
  padding: 0px;
  width: 100%;
  height: 128px;
  flex: none;
  justify-content: space-between;
}

.icondiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;
  width: 70px;
  height: 70px;
  background: #003a49;
  border-radius: 51px;
  flex: none;
}

.userDescript{
display: flex;
flex-direction: column;
align-items: flex-start;
margin-top: 0px;
padding: 0px;
width: 517px;
height: 16px;
}

.userdescript{
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.username {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0px;
  padding: 0px;
  gap: 2px;
  width: 517px;
  height: 32px;
  flex: none;
}

.locaTiontimeDetails {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 26px;
  width: 517px;
  height: 128px;
  flex: none;
  justify-content: space-between;
}

.usernametext {
  width: fit-content;
  height: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #151e00;
  flex: none;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 8px;
  margin: 0;
  width: 206px;
  height: 66px;
  flex: none;
}

.lastseen {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  justify-content: flex-end;
  gap: 10px;
  width: 216px;
  height: 24px;
  flex: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6f7269;
}

.dropdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 8px;
  width: fit-content;
  height: 34px;
  background: #84bd00;
  opacity: 0.8;
  border-radius: 4px;
  flex: none;
  inline-size: none;
  outline: none;
}

.buttontext {
  width: 45px;
  height: 26px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  flex: none;
}

.lowerdiv {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 30px;
  padding: 4px 4px 8px;
  gap: 32px;
  width: 100%;
  height: 52px;
  align-self: stretch;
}



.text {
  width: 68px;
  height: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #151e00;
  flex: none;
}
