.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid var(--Border-Border-Primary, #e6e6e6);
  background: var(--Default-White, #fff);
  padding: 16px 32px;
}
.icon {
}
.textdescription {
  width: 80%;
}

.summarytitle {
  display: flex;
  gap: 16px;
  align-items: center;
}
.bodyContainer {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.viewMoreIcon {
  margin-top: 8px;
}
