.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 16px;
  width: 100%;
  height: 330px;
  left: 5517px;
  top: 1097px;
  background: #ffffff;
  border-radius: 8px;
}

.buttonsDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 24px;
  align-items: center;
  padding: 0px;
  gap: 40px;
  width: 283px;
  height: 42px;
}

.cancelButton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 32px;
  gap: 8px;
  width: 113px;
  height: 42px;
  color: #6f7269;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.tryAgainButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 32px;
  gap: 8px;
  width: 130px;
  height: 42px;
  color: #ffffff;
  background: #84bd00;
  border-radius: 4px;
}

.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 12px 14px;
  gap: 10px;
  width: 56px;
  height: 56px;
  background: #fedee5;
  border-radius: 24px;
  color: #f30039;
}

.description {
  color: #6f7269;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 341px;
  height: 48px;
}

.title {
  color: #1a2600;
}
