.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: 551px;
    height: 280px;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 552px;
    height: 32px;
    justify-content: center;
  }
  
  .logCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 551px;
    height: 376px;
  }
  
  .submitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;
    gap: 8px;
    width: 114px;
    height: 40px;
  }
  
  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    width: 296px;
    position: absolute;
    left: 716px;
    top: 148px;
  }
  