.havingTrouble {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  position: absolute;
  width: 176px;
  height: 24px;
  left: 85vw;
  top: 28px;
}

.signinFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  position: absolute;
  width: 350px;
  height: 469px;
  left: 45vw;
  top: 20vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;
  width: 100%;
  height: 344px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.formHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  height: 96px;
}

.title {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  height: 40px;
}

.titleDesc {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  height: 48px;
}

.formFrame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  height: 136px;
}

.formInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  height: 96px;
}

.formItem {
  margin-top: 8px;
}

.input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 8px;
  gap: 8px;
  width: 100%;
  height: 40px;
  opacity: 0.8;
  border: 0.5px solid #979992;
  border-radius: 4px;
  color: #6f7269;
}

.customInput {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0px 8px;
  width: 319px;
  height: 40px;
  opacity: 0.8;
  border: 0.5px solid #979992;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.passwordToggleIcon {
  cursor: pointer;
}

.formConsent {
  display: flex;
  align-items: flex-start;
 justify-content: space-between;
  padding: 0px 0px 0px 1px;
  gap: 88px;
  width: 100%;
  height: 16px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.checkBoxContainer {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  color: var(--tint-colors-tint-200);
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}

.checkBox{
display: flex;
align-items: flex-start;
padding: 0px;
gap: 8px;
width: 16px;
height: 16px;
flex: none;
order: 0;
flex-grow: 0;
}

.recover {
  display: flex;
  align-items: flex-start;
  color: #151e00;
  gap: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.recoverLink {
  color: #151e00;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-top: 16px;
  gap: 24px;
  width: 328px;
  height: 40px;
  opacity: 0.8;
  border-radius: 4px;
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 16px;
  gap: 8px;
  width: 100%;
  height: 24px;
  color: var(--tint-colors-tint-200);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 70px;
  gap: 32px;
  width: 458px;
  height: 400px;
  background: none;
  cursor: pointer;
  position: absolute;
  left: 40vw;
  top: 20vh;
}
