.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signinFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 32px;
  position: absolute;
  width: 350px;
  height: 469px;
  left: 50%;
  top: 148px;
}

.formHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 318px;
  height: 96px;
}

.title {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 318px;
  height: 40px;
}

.titleDesc {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 318px;
  height: 48px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  width: 318px;
  height: 136px;
}

.formFrame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  width: 318px;
  height: 136px;
}

.formInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  width: 318px;
  height: 96px;
}

.formItem {
  margin-top: 8px;
}

.input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 8px;
  gap: 8px;
  width: 319px;
  height: 40px;
  opacity: 0.8;
  border: 0.5px solid #979992;
  border-radius: 4px;
  color: #6f7269;
}

.formConsent {
  display: flex;
  text-align: center;
  justify-content: space-between;
  gap: 88px;
}

.checkBox {
  display: flex;
  gap: 4px;
}

.checkLabel {
  display: flex;
  align-items: flex-start;
  padding-top: 4px;
  gap: 8px;
  width: 104px;
  height: 16px;
  color: #6f7269;
}

.recover {
  display: flex;
  align-items: flex-start;
  padding-top: 4px;
  margin-left: auto;
}

.recoverLink {
  text-align: right;
  color: #151e00;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 24px;
  width: 318px;
  height: 40px;
  opacity: 0.8;
  border-radius: 4px;
}

.footer {
  display: flex;
  align-items: flex-start;
  padding: 0px 16px;
  gap: 8px;
  width: 256px;
  height: 24px;
  margin-left: auto;
  margin-top: 8px;
  text-align: right;
  color: var(--tint-colors-tint-200);
}

.modal {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 32px;
  position: absolute;
  width: 535px;
  height: 424px;
  left: 556px;
  top: 116px;
  background: var(--white);
  border: 1px solid #e6e6e6;
  box-shadow:
    0px 27px 30px -5px rgba(10, 9, 11, 0.13),
    0px 0px 0px 1px rgba(10, 9, 11, 0.05),
    0px 7px 3px -1px rgba(10, 9, 11, 0.04);
  border-radius: 8px;
}
