.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
  position: absolute;
  width: 398px;
  height: 424px;
  left: 691px;
  top: 128px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 366px;
  height: 56px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  height: 232px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.formItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: 160px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.formInput {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.customInput {
  box-sizing: border-box;
  display: flex;
  padding: 0px 8px;
  width: 100%;
  height: 40px;
  opacity: 0.8;
  border: 1px solid #c9c9cc;
  border-radius: 4px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.checkBox {
  display: flex;
  align-items: flex-start;
  padding: 0px 0px 0px 1px;
  gap: 4px;
  width: 366px;
  height: 24px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.error {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0px 8px;
  gap: 210px;  
  width: 366px;
  height: 40px;  
  opacity: 0.8;
  border: 0.5px solid #F30039;
  border-radius: 4px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  }

.button {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
  gap: 32px;
  width: 100%;
  height: 40px;
  color: var(--white);
  background-color: var(--brand-brand-primary);
  border-radius: 4px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  cursor: pointer;
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;
  height: 24px;
  color: var(--tint-colors-tint-200);
  flex: none;
  order: 1;
  flex-grow: 0;
}
