.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 20vw;
  background: var(--Brand-Brand-Secondary, #003a49);
  gap: 144px;
  overflow-y: auto;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  flex-shrink: 0;
  padding: 0 56px;
  color: white;
}

@media (max-width: 550px) {
  .container {
    width: 20vw;
  }
  .content {
    padding-left: 60px;
    padding-right: 60px;
  }
}

