@import url("./sider.closed.module.css");

/**
   NEW MOBILE BANKING
 
**/

.menuIcon path {
  fill: #fff;
  stroke: #fff;
}
.activeicon path {
  fill: #003A49;
  color:#003A49 ;
}

.mainMenuText {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  cursor: pointer;
}
.sublink {
  display: flex;
  padding-left: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding-top: 16px;
  opacity: 0;
}
.sublink a {
  color: white;
}
.sublink.sublinkOpen {
  opacity: 1;
  transition: opacity 10s ease 1s;
}
.siderController {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  padding-right: 16px;
  padding-top: 8px;
}

.siderTitle {
  display: flex;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 8px;
  color: white;
  gap: 16px;
  padding-top: 16px;
  cursor: pointer;
}

.siderTitleText {
  display: flex;
  align-items: center;
}
.menucontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0px 8px;
}
/**
  OPEN BAR MOBILE BAR
**/


.opened .menuIcon {
  padding-top: 4px;
  margin-left: 28px;
}
.opened .activeicon{
  padding-top: 4px;
  margin-left: 28px;
}

.opened.sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 250px;
  background: var(--Brand-Brand-Secondary, #003a49);
  height: 100vh;
  transition: width 200ms;
}
.opened .menuLink {
  color: var(--Default-White, #fff);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  overflow: visible;
  z-index: 10;
  padding-top: 16px;
}

.menuActive{
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
background: #E6E6E6;
border-radius: 4px;
padding: 8px 0px;
}


.opened .mainMenuText {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  cursor: pointer;
  transition-timing-function: ease-in;
}
.opened .mainMenuText .tag {
  color: white;
}
.linkActive{
  color: #003A49;
  font-weight: 400;
}

.mainMenuText svg {
  fill: white;
  margin-top: 4px;
}
.section {
  color: var(--Text-Text-Description-02, #979992);
  margin-left: 8px;
  margin-bottom: 16px;
}

.opened .menuText {
  color: var(--Default-White, #fff);
  height: fit-content;
  padding: 4px 16px 8px 16px;
  white-space: nowrap;
  height: fit-content; /* Position the child in the middle of the parent vertically */
  z-index: 99;
  width: fit-content;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.disabledText {
  color: #999;
}

@media (max-width: 550px) {
  .container {
    background: var(--Brand-Brand-Secondary, #003a49);
    min-height: 100vh;
    max-width: 72px;
    min-width: 10vh;
    width: 30vh;
    display: inline-flex;
    padding: 36px 0px 0px 0px;
    flex-direction: column;
    align-items: center;
    gap: 41px;
  }
  .linkText {
    visibility: hidden;
  }
}

/**
  CLOSED BAR MOBILE BAR
**/

.closed.sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 72px;
  background: var(--Brand-Brand-Secondary, #003a49);
  height: 100vh;
  transition:
    width 500ms,
    height 500ms;
}
.closed .menuIcon {
  padding-top: 8px;
  margin-left: 28px;
}
.closed .activeicon {
  padding-top: 8px;
  margin-left: 28px;
}

.closed .menuText {
  color: var(--Default-White, #fff);
  left: 70%;
  position: absolute;
  width: 150px;
  height: fit-content;
  padding: 4px 16px 8px 16px;
  white-space: nowrap;
  height: fit-content; /* Position the child in the middle of the parent vertically */
  z-index: 99;
  opacity: 0;
  background: var(--Brand-Brand-Secondary, #003a49);
  width: fit-content;
}
.closed .mainMenuText {
  justify-self: end;
}
.closed .mainMenuText a {
  color: white;
}
.closed .menucontainer {
  padding-top: 0px;
}
.closed .section {
  visibility: hidden;
}
.closed .menuLink {
  color: var(--Default-White, #fff);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-self: flex-start;
  gap: 30px;
  position: relative;
  overflow: visible;
  z-index: 10;
  padding-top: 16px;
}
.closed .menuLink {
  color: var(--Default-White, #fff);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-self: flex-start;
  gap: 30px;
  position: relative;
  overflow: none;
  z-index: 10;
  padding: 8px 0px 8px 0px;
}

.closed .menuLink:hover .menuText {
  opacity: 1;
  transition: opacity cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: ease;
}
.closed .withSublink {
  flex-direction: column;
  gap: 8px;
}

.closed .siderTitle {
  padding-right: 0px;
}




