.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 24px;
  width: 100%;
  border-radius: 8px;
}
.closedOutline {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px;
  width: 100%;
}

.button {
  align-items: center;
  padding: 8px 12px;
  margin: 0 auto;
  width: 118.13px;
  height: 40px;
  color: white;
  background: #84bd00;
  border-radius: 4px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 100%;
}
.accountDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
}
.accouninfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}
.summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 100%;
  height: 216px;
}
.summaryheader {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #c9c9cc;
  width: 100%;
}
.summmary {
  width: 100%;
}
.summarycontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  gap: 16px;
  width: 50%;
}
.transactions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.transactionstitle {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #c9c9cc;
}

.table {
  width: 100%;
}
