.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 24px;
  gap: 8px;
  width: 544px;
  height: 72px;
  background: var(--white);
  border: 1px solid var(--neutral-grey-900);
  border-radius: 3px;
}

.containerActive {
  background: var(--statement-primary-tint-02);
  border: 0.5px solid var(--brand-brand-primary);
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 102px;
  width: 511px;
  height: 44px;
}

.content {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 208px;
  height: 44px;
}

.icon {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;
  width: 40px;
  height: 32px;
  border: 0.5px solid #003a49;
  border-radius: 4px;
  color: #003a49;
}

.selected,
.icon:hover {
  background-color: var(--brand-brand-primary);
  border: 0.5px solid var(--brand-brand-primary);
  border-radius: 4px;
  color: #ffffff;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  height: 48px;
}
