.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 24px;
  gap: 32px;
  position: relative;
  width: 100%;
  max-width: 694px;
  margin: 0 auto;
  top: 4vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
}

.header {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 100%;
}

.formContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 100%;
}

.horizontal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 100%;
}

.flexOne {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 8px;
  flex: 1;
  min-width: 200px;
}

.horizontalInput {
  display: flex;
  padding: 0px 8px;
  width: 100%;
  height: 36px;
}

.vertical {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 4px;
  width: 100%;
}

.emailInput {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  height: 36px;
}

.input {
  display: flex;
  align-items: center;
  padding: 0px;
  width: 100%;
  height: 36px;
  opacity: 0.8;
  border: 0.5px solid var(--neutral-colors-200);
  border-radius: 4px;
}

.selectorRow {
  display: flex;
  padding: 0px;
  gap: 16px;
  width: 100%;
  height: 36px;
}

.selectionStandard {
  display: flex;
  align-items: center;
  padding: 0px 8px;
  width: 72px;
  height: 36px;
  border: 0.5px solid #c9c9cc;
  border-radius: 4px;
  color: var(--Text-Text-Description-01);
  opacity: 0.8;
}

.divider {
  width: 4px;
  height: 36px;
  color: var(--Text-Text-Description-01);
  margin: 0 4px;
}

.selectorInput {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 36px;
  opacity: 0.8;
  border: 0.5px solid var(--neutral-colors-200);
  border-radius: 4px;
  color: var(--Text-Text-Description-01);
}

.dropDown {
  display: flex;
  align-items: center;
  width: 100%;
  height: 36px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  padding: 8px;
  width: 100%;
  border-radius: 4px;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: relative;
  width: 100%;
  left: 10vw;
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .horizontal {
    flex-direction: column;
    gap: 8px;
  }

  .selectorRow {
    gap: 8px;
  }

  .flexOne {
    width: 100%;
  }

  .vertical {
    width: 100%;
  }

  .input,
  .emailInput,
  .horizontalInput {
    width: 100%;
  }

  .selectionStandard{
    width: 20%;
  }
  .selectorInput {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 16px;
  }

  .horizontalInput,
  .emailInput,
  .input,
  .selectorInput,
  .selectionStandard {
    height: 30px;
  }

  .divider {
    height: 30px;
  }

  .button {
    padding: 4px;
  }
}
