.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  padding: 24px 16px;
  border: 2px solid #f9faf7;
  border-radius: 8px;
  gap: 16px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 464px;
}

.btnContainer {
  display: flex;
  gap: 4px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 464px;
  height: 112px;
  background-color: #ffffff;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  gap: 90px;
  width: 464px;
  height: 56px;
  border-radius: 8px;
  background-color: #fff;
}

.titleActive {
  background-color: #f9faf7;
}
