.container{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contentContainer{
    display: flex;
    flex-direction: column;
  }

.title{
    color: var(--Text-Text-Description-01, #6F7269);
    /* statement/Body/regular */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.5px; /* 159.375% */ 
}
.content{
    color: var(--Text-Text-Secondary, #151E00);
    /* statement/Body/medium */
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */ 
}
.description{
    color: var(--Text-Text-Description-01, #6F7269);
    /* statement/Body/light */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
}
.infoStatus{
   display: flex;
   flex-direction: column;
}
.statusBox{
    padding: 4px 16px;
    background: var(--functional-light-colors-success-200);
    color: var(--Accent-Accent-Success, #17D05B); 
    border-radius: 2px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */ 
  }