.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 32px;
gap: 16px;
width: 500px;
height: 330px;
left: 5517px;
top: 1097px;
background: #FFFFFF;
box-shadow: 1px 5px 14px rgba(0, 0, 0, 0.1);
border-radius: 8px;

}

.okButton{
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
margin-top: 20px;
padding: 8px 32px;
gap: 8px;
width: 84px;
height: 40px;
border: 1px solid #84BD00;
border-radius: 4px;
background-color: #84BD00;
color: #FFFFFF;
}

.icon{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
gap: 10px;
width: 42px;
height: 42px;
background: #D1F6DE;
border-radius: 42px;
color: #32C11B;
}

.description{
    color: #6F7269;
}

.title{
    color: #1A2600;
}